#loginForm{
    font-family: Georgia;
    padding-top: 2%;
    padding-bottom: 1%;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 30%;
    border: 1px solid black;
    height: auto;

    background: #FFFFFF;
    box-shadow: 0px 21.0037px 31.5056px rgba(147, 153, 176, 0.15);
    border-radius: 12.6022px;
}

#titleLabel{
    font-family:"Parchment";
    font-size: 84px;
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

form input{
    padding-left: 5%;
    font-family: Georgia;
    margin-top: 10px;
    width: 85%;

    border: none;
    height: 40px;
    background: #F8F7FF;
    border-radius: 6.30112px;
}


#loginButton{
    font-family: Georgia;
    margin-top: 10px;
    border: none;
    width: 90%;
    height: 40px;
    left: 559.49px;
    top: 422.72px;

    color: white;
    background: #9381FF;
    border-radius: 6px;
}

#loginGoogleButton{
    font-family: Georgia;
    margin-top: 10px;
    border: none;
    width: 90%;
    height: 40px;
    left: 559.49px;
    top: 422.72px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #D4D4D4;
    background-color: white;
    border: 1px solid #D4D4D4;
    border-radius: 6px;
}

#orLabel{
    margin-top: 10px;
}

#recoveryLink{
    margin-top: 10px;
}

#signUpLink{
    margin-top: 10px;
    color: #9381FF;
}

#messageLabel{
    color: red;
}