


nav{
    position: absolute;
    background-color: white;
    width: 20%;
    height: 87vh;
}

.navButton{
    width: 260px;
    height: 80px;
    margin-left: 22px;
    margin-top: 10px;
}

.navButton svg{
    margin-top: 20px;
    margin-left: 12px;
}

.navButton p{
    position: absolute;
    display: inline-block;
    margin-top: 32px;
    height: 32px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: #000000; 
}
